.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.bomMap {
  display: flex;
  flex-direction: column;
  background-color: #888;
  border: 5px outset #333;
}

/* セルを横に並べる */
.row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url('~/src/assets/images/icons.png');
  background-repeat: no-repeat;
  border: 3px outset #000;
}

.hidden {
  background-color: #999;
  background-image: none;
}

.hidden:hover {
  background-color: #777;
  background-image: none;
}

.revealed0 {
  background-color: #777;
  background-image: none;
}

.revealedBomb {
  background-position: -300px 0;
}

.revealed1 {
  background-position: 0 0;
}

.revealed2 {
  background-position: -30px 0;
}

.revealed3 {
  background-position: -60px 0;
}

.revealed4 {
  background-position: -90px 0;
}

.revealed5 {
  background-position: -120px 0;
}

.revealed6 {
  background-position: -150px 0;
}

.revealed7 {
  background-position: -180px 0;
}

.revealed8 {
  background-position: -210px 0;
}

.flagged {
  background-position: -270px 0;
}

.question {
  background-position: -240px 0;
}

.resetButton {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.smiley {
  width: 30px;
  height: 30px;
  background-image: url('~/src/assets/images/icons.png');
  background-repeat: no-repeat;
}

.smileyPlaying {
  background-position: -330px 0;
}

.smileyWin {
  background-position: -360px 0;
}

.smileyLose {
  background-position: -390px 0;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #c0c0c0;
  border: 5px outset #f0f0f0;
}

.counter {
  padding: 2px 5px;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  background-color: #000;
  border: 2px inset #fff;
}
